@model SalePoint.Models.CategoryModel

@{
    ViewBag.Title = "New";
}

@using (Html.BeginForm("Save", "Category"))
{

    <h2>New</h2>

    <div class="row">
        @Html.HiddenFor(model => model.categoryId)

        <div class="col-md-12">
            <h3 class="panel-title">Category Description</h3>
            @Html.TextBoxFor(model => model.categoryDescription, new { @class = "form-control", @required = "required", @maxlength = "20" })
        </div>
    </div>

    <p>
        <button class="btn-success">Save</button>
        @Html.ActionLink("Back", "Index")
    </p>

}